  .heading {
      background-color: rgb(239, 243, 245);
      color: rgb(162, 187, 22);
      font-size: 32px;
      font-family: times new roman;
      margin: auto;
      font-weight: bold;
      text-decoration: underline;
  }
  
  .divh {
      text-align: center;
  }
  
  .ingr {
      margin-left: -35px;
      list-style-type: none;
  }
  
  .post {
      text-align: left;
      font-weight: normal;
      font-size: 8px;
  }
  
  .comps {
      text-decoration: underline;
  }
  
  .comps1 {
      font-weight: bold;
  }
  
  .bthr {
      text-decoration: line-through;
  }
  
  .usercmt {
      background-color: khaki;
      font-style: italic;
      font-size: 16px;
      color: black;
      width: 90%;
      margin: auto;
  }
  
  .lk {
      color: rgb(238, 223, 15);
  }
  
  body {
      background-image: url("../images/silverware.jpg");
  }
  
  .footer {
      float: right;
      text-align: left;
  }
  
  .iconized {
      list-style-image: url("../images/pie_icon.gif");
  }