#otherpg {
    background-color: gray;
}

#content {
    font-family: Trebuchet MS;
    font-size: 12px;
    color: white;
}

#mtitle {
    font-size: 36px;
    font-weight: bold;
}

#myself {
    font-size: 14px;
}

h1 {
    color: lightblue;
}

h3 {
    color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cc {
    color: yellow;
}

.abbr {
    color: brown;
    font-weight: bold;
}

#expl {
    font-style: italic;
}

.hvtest {
    color: red;
}

.hvtest:hover {
    color: bisque;
    text-decoration: underline;
}

.hvtest:visited {
    color: white;
}

a {
    text-decoration: none;
}

p:first-child:first-letter {
    color: white;
    float: left;
    font-family: Georgia;
    font-size: 50px;
    line-height: 20px;
    margin-top: -10px;
}

.myheader {
    text-align: center;
    border: 1px double navy;
}