#otherpg {
    background-color: gray;
}

#content {
    font-family: Trebuchet MS;
    font-size: 12px;
    color: white;
}

#mtitle {
    font-size: 36px;
    font-weight: bold;
}

#myself {
    font-size: 14px;
}

h1 {
    color: lightblue;
}

h3 {
    color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cc {
    color: yellow;
}

.abbr {
    color: brown;
    font-weight: bold;
}

#expl {
    font-style: italic;
}

.hvtest {
    color: red;
}

.hvtest:hover {
    color: bisque;
    text-decoration: underline;
}

.hvtest:visited {
    color: white;
}

a {
    text-decoration: none;
}

p:first-child:first-letter {
    color: white;
    float: left;
    font-family: Georgia;
    font-size: 50px;
    line-height: 20px;
    margin-top: -10px;
}

.myheader {
    text-align: center;
    border: 1px double navy;
}

.menus {
    overflow: hidden;
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
}

.menus a {
    float: left;
    font-size: 16px;
    color: navy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: navy;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.menus a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: darkcyan;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(230, 218, 218, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: navy;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}